<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47b81c9b5a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <!--Logo-->
        <div class="header-logo">
            <a href="/">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de Merecado Libre">
            </a>
        </div>
        
        <!--Search bar-->
        <form action="" class="search-form">
            <input type="search" id="search-form-input" name="search-form-input" placeholder="Buscar productos, marcas">
            <label for="search-form-input">
                <i class="fa fa-search"></i>
            </label>
        </form>
        
        <p class="header-compra-coutas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <!--Nav Bar-->
        <nav class="nav-bar">
            <ul class="list-1">
                <li> <a href="#ofertas">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="list-2">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li ><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <!--Burguer menu-->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div> 
        <!--Banner-->
        <img src="/images/img-home-banner.jpg" alt="Banner" class="header-banner">
    </header>
    <main>
        <section class="product-section">
            <h3 class="titular">Basado en tu ultima visita</h3>
            <div class="flex-container">
                <article class="flex-item product-article">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"></img>
                    <div class="article-box">
                        <i class="fa-solid fa-truck" id="truck-icon"></i>
                        <p class="price">$6.777,00</p>
                        <p class="off">40% OFF</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="flex-item product-article">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook"></img>
                    <div class="article-box">
                        <i class="fa-solid fa-truck" id="truck-icon"></i>
                        <p class="price">$230.000,00</p>
                        <p class="off">20% OFF</p>
                        <h4 class="description">Macbook Pro 2019</h4>
                    </div>
                </article>
                <article class="flex-item product-article">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"></img>
                    <div class="article-box">
                        <i class="fa-solid fa-truck" id="truck-icon"></i>
                        <p class="price">70.500,00</p>
                        <p class="off">10% OFF</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="flex-item product-article">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv Samsung"></img>
                    <div class="article-box">
                        <i class="fa-solid fa-truck" id="truck-icon"></i>
                        <p class="price">$23.200,00</p>
                        <p class="off">5% OFF</p>
                        <h4 class="description">Smart Tv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h3 class="titular" id="ofertas" >Ofertas</h3>
            <div class="flex-container ">
                <article class="flex-item product-article">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"></img>
                    <div class="article-box">
                        <i class="fa-solid fa-truck" id="truck-icon"></i>
                        <p class="price">$6.777,00</p>
                        <p class="off">40% OFF</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="flex-item product-article">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook"></img>
                    <div class="article-box">
                        <i class="fa-solid fa-truck" id="truck-icon"></i>
                        <p class="price">$230.000,00</p>
                        <p class="off">20% OFF</p>
                        <h4 class="description">Macbook Pro 2019</h4>
                    </div>
                </article>
                <article class="flex-item product-article">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"></img>
                    <div class="article-box">
                        <i class="fa-solid fa-truck" id="truck-icon"></i>
                        <p class="price">70.500,00</p>
                        <p class="off">10% OFF</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="flex-item product-article">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv Samsung"></img>
                    <div class="article-box">
                        <i class="fa-solid fa-truck" id="truck-icon"></i>
                        <p class="price">$23.200,00</p>
                        <p class="off">5% OFF</p>
                        <h4 class="description">Smart Tv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section> 
    </main>
    <footer>
        <section class="footer-section">
            <article class="footer-item">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer-item">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500.</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </article>
            <article class="footer-item">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        <div class="copyright-container">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>