<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47b81c9b5a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Inicia sesión</title>
</head>
<body>
    <header>
        <!--Logo-->
        <div class="header-logo">
            <a href="/">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de Merecado Libre">
            </a>
        </div>
        
        <!--Search bar-->
        <form action="" class="search-form">
            <input type="search" id="search-form-input" name="search-form-input" placeholder="Buscar productos, marcas">
            <label for="search-form-input">
                <i class="fa fa-search"></i>
            </label>
        </form>
        
        <p class="header-compra-coutas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <!--Nav Bar-->
        <nav class="nav-bar-toggle">
            <ul>
                <li> <a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="nav-bar-toggle">
            <ul>
                <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li ><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <!--Burguer menu-->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div> 
        <!--Banner-->
        <img src="/images/img-home-banner.jpg" alt="Banner" class="header-banner">
    </header>
    <main>
        <section class="login-section">
            <form action="/login" class="login-form" method="POST">
                <p>
                    <input type="email" name="email" placeholder="Email">
                </p>
                <p>
                    <input type="password" name="contrasena" placeholder="Contraseña">
                </p>
            </form>
            <a href="/"><button type="submit" class="login-btn">Enviar</button></a>
        </section>

    </main>
    <footer>
        <section class="footer-section">
            <article class="footer-item">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer-item">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500.</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </article>
            <article class="footer-item">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        <div class="copyright-container">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>