<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47b81c9b5a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <!--Logo-->
        <section class="header__container-1">
            <div class="header-logo">
                <a href="/">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de Merecado Libre">
                </a>
            </div>
        
            <!--Search bar-->
            <form action="" class="search-form">
                <input type="search" id="search-form-input" name="search-form-input" placeholder="Buscar productos, marcas">
                <label for="search-form-input">
                <i class="fa fa-search"></i>
                </label>
            </form>
            <!--text-->
            <p class="header-compra-coutas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        
        </section>
        <!--Nav Bar-->
        <nav class="nav-bar">
            <ul class="list-1">
                <li> <a href="#ofertas">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="list-2">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li ><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <!--Burguer menu-->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div> 
        <!--Banner-->
        <img src="/images/img-home-banner.jpg" alt="Banner" class="header-banner">
    </header>
    <main>
        <section class="register-section">
            <h1>Crea tu cuenta!</h1>
            <form action="/" class="register-form">
                <input type="text" name="nombre-apellido" id="nombre" placeholder="Nombre y apellido">   
                <input type="text" name="username" id="username" placeholder="Nombre de usuario">
                <input type="email" name="email" id="email" placeholder="E-Mail">        
                <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
                <input type="password" name="confirmar-contrasena" id="confirmar-contrasena" placeholder="Confirmar Contraeña">
                <h3>Perfil de usuario</h3>
                <div class="perfil-usuario-container">
                    <div>
                        <input type="radio" id="radio-comprador" name="perfil-usuario" class="radio-btn" value="Comprador">
                        <label for="radio-comprador"></label>Comprador
                    </div>
                    <div>
                        <input type="radio" id="radio-vendedor" name ="perfil-usuario" class="radio-btn" value="Vendedor">
                        <label for="radio-vendedor">Vendedor</label>
                    </div>
                </div>
                <fieldset class="register__intereses-fieldset">
                    <legend>Intereses</legend>
                    <input type="checkbox" id="checkbox-electro" class="checkbox-item" name="intereses-radio" value="Electro">
                    <label for="checkbox-electro">Electro</label> <br>
                    <input type="checkbox" id="checkbox-moda" class="checkbox-item" name="intereses-radio" value="Moda">
                    <label for="checkbox-moda">Moda</label> <br>
                    <input type="checkbox" id="checkbox-hogar" class="checkbox-item" name="intereses-radio" value="Hogar">
                    <label for="checkbox-hogar">Hogar</label> <br>
                    <input type="checkbox" id="checkbox-jugueteria" class="checkbox-item" name="intereses-radio" value="Juegueteria">
                    <label for="checkbox-jugueteria">Jugueteria</label> <br>
                    <input type="checkbox" id="checkbox-vida-sana" class="checkbox-item" name="intereses-radio" value="Vida sana">
                    <label for="checkbox-vida-sana">Vida sana</label><br>

                </fieldset>
                <button class="register-btn">Registrarme!</button>
            </form>
        </section>
    </main>
    <footer>
        <section class="footer-section">
            <article class="footer-item">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer-item">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500.</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </article>
            <article class="footer-item">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        <div class="copyright-container">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>