*{
    font-family: 'Roboto';
}

/*VARIABLES - START*/
:root{
    /*COLORS - START*/

    --burger-menu-background-color: #1259c3;
    --footer-item-i-color: #1259c3;
    --footer-copyright-p-color: #666;
    --header-background-color: #EAC926;
    --text-off-color: #39b54a;
    --truck-icon-color: #39b54a;
    /*COLORS - END*/
}
/*VARIABLES - END*/

/*HEADER - START*/
.burger-menu{
    width: 35px;
    text-align: center;
    padding: 8px;
    color: white;
    background-color: var(--burger-menu-background-color);
    margin: auto;
    border-radius: 5px;
}

header {
    background-color: var(--header-background-color);
    padding-bottom: 18px;
}

.header-banner{
    width: 100%;
    padding-top: 10px;

}

.header-logo {
    margin: auto;
    padding: 5vw;
    width: 80vw;      
}

.nav-bar-toggle{
    display: none;
}

/*HEADER END*/

/*MAIN - START*/

.article-box{
    border: 1px solid #ebebeb;
    margin: 15px;
}

.description{
    font-size: 10px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item{
    margin: 10px;
}

main{
    width: 90%;
    margin: auto;
}

.off{
    font-size: 10px;
    color: var(--text-off-color);
}

.price{
    font-size: 12px;     
}

.product-article {
    width: 30%;
}

.product-article img{
    width: 100%;
}

#search-form-input{
    width: 50%;
}

#truck-icon{
   color: var(--truck-icon-color); 
}

/*MAIN - END*/

@media (min-width: 360px){

/*HEADER -START*/
    .header-compra-coutas{
        text-align: center;
    }

    .search-form{
        margin-left: 30px;
        margin-bottom: 20px;
    }
/*HEADER - END*/

/*MAIN - START*/
    p{
        font-size: 12px;
    }

    .titular{
        font-size: 24px;
    }

    .description{
        font-size: 16px;
    }

    .price{
        font-size: 18px;     
    }

    .off{
        font-size: 16px;
    }
    .register-form > p {
        text-align: center;
    }
/*MAIN-END*/

/* FOOTER - START */
    footer {
        padding: 18px;
    }
    
    .footer-item {
        padding: 18px;
        text-align: center;

    }
  
    .footer-item > i {
        font-size: 2em;
        margin-bottom: 10px;
        color: var(--footer-item-i-color);
    }
    .footer-item > h3 {
        font-size: 16px;
    }
  
    .footer-copyright > p {
        color: var(--footer-copyright-p-color);
        text-align: left;
    }
/*FOOTER - END*/
}

@media (min-width: 769px){
    
/*HEADER - START*/
    .header-compra-coutas{
        font-size: 16px;
    }
    .header-logo {
        padding: 5vw;
        width: 50vw;  
    }

    .nav-bar-toggle{
     display: block;
    }

    .burger-menu{
        display: none;
    }
/*HEADER - END*/
}