*{
    font-family: 'Roboto';
}

/*VARIABLES - START*/
:root{
    /*COLORS - START*/
    --product-article-background-color: #FFFFFF;
    --burger-menu-background-color: #1259c3;
    --footer-item-i-color: #1259c3;
    --footer-copyright-p-color: #666;
    --html-background-color: #ebebeb;
    --header-background-color: #EAC926;
    --text-off-color: #39b54a;
    --truck-icon-color: #39b54a;
    /*COLORS - END*/
    background-color: var(--html-background-color);
}
/*VARIABLES - END*/

/*HEADER - START*/
.burger-menu{
    width: 35px;
    text-align: center;
    padding: 8px;
    color: white;
    background-color: var(--burger-menu-background-color);
    margin: auto;
    border-radius: 5px;
}

.fa-search{
    cursor: pointer;
    margin-left: -30px;
    object-fit: cover;
    outline: none;
}

header {
    background-color: var(--header-background-color);
    padding-bottom: 18px;
}

.header__container-1{
    align-items: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.header-banner{
    width: 100%;
    padding-top: 10px;
   

}

.header-compra-coutas{
    font-size: 14px;
}

.header-logo {
    width: 45%;   
    margin-left: 5px;   
}


.nav-bar{
    display: none;
}

.search-form{
    width: 45%;
    margin-right: 5px;
}

#search-form-input{
    width: 85%;
    border-radius: 5px;
    outline: none;
}

.search-form > label{
    width: 10%;
}



/*HEADER END*/

/*MAIN - START*/
.article-box{
    border-top: 1px solid #ebebeb;
    margin: 15px;
    position: relative;
}
.description{
    display: none;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.flex-item{
    margin-bottom: 10px;
    align-items: center;
}

.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form > input{
    margin: 10px;
    width: 100%;
    height: 28px;
    
}

.login__email-input{
    transition: border 0.5s;
}

.login__email-input:focus{
    border: 2px #eea538 solid;
}

.login__main{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 80vw;
    height: 50vh;
}

.login-btn {
    background-color: #1259c3;
    border-radius: 5px;
    color:#FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 28px;
    margin-top: 20px;
    width: 100px;
    transition: background-color 0.5s;
}
.login-btn:hover{
    background-color: #1b76ff;
}
main{
    margin: auto;
    width: 90%;
}

.off{
    color: var(--text-off-color);
    font-size: 16px;
}


.perfil-usuario-container .label{
    font-weight: bold;
    font-size: 16x;
}

.price{
    font-size: 18px;
}

.product-article {
    background-color: var(--product-article-background-color);
    border-radius: 15px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    
}

.product-article:hover #truck-icon {
    animation: movement 400ms infinite alternate;
}

@keyframes movement {
    0%{
        transform: rotate(-25deg) ;
    }
    100%{
        transform: rotate(25deg) ;
    }
}

.product-article > img{
    width: 100%;
    border-radius: 15px;
    text-align: center;
}
.product-section{
   align-items: center;
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-form > input {
    width: 80%;
    padding: 12px 20px;
    margin: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-form .radio-item-container{
    width: 80%;
    margin: 20px;
    display: flex;
    flex-direction: row;
}
.register-form.radio-item-container .radio-item{
    margin-top: 15px;
 
}

.register-form  .perfil-usuario-container {
    text-align: center;
    margin: 20px;
}

.register-form > p > input {
    width: 80%;
}

.register-section > a {
    text-align: center;
}
.register-section > a >.register-btn {
    background-color: #1259c3;
    color:#FFFFFF;
    font-weight: bold;
    width: 170px;
    border-radius: 5px;
    margin-top: 50px;
  
}


#truck-icon{
   color: var(--truck-icon-color);
   border: 1px #39b54a solid;
   border-radius: 50%;
   padding: 10px 8px 10px 8px;
   position: absolute;
   right: 25px;
   top: 25px;
}

/*MAIN - END*/

/* FOOTER - START */
footer {
    padding: 18px;
}

.footer-item {
    padding: 18px;
    text-align: center;

}

.footer-item > i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--footer-item-i-color);
}
.footer-item > h3 {
    font-size: 16px;
}

.footer-copyright > p {
    color: var(--footer-copyright-p-color);
    text-align: left;
}
/*FOOTER - END*/
@media (min-width: 360px){

/*HEADER -START*/

/*HEADER - END*/

/*MAIN - START*/
    p{
        font-size: 12px;
    }

    .titular{
        font-size: 24px;
    }


/*MAIN-END*/
}
@media (min-width: 769px){
    
/*HEADER - START*/

    .header-compra-coutas{
        font-size: 16px;
        margin-right: 5px;
    }
    .header-logo{
        width: 25%;
    }
    .search-form{
        width: 25%;
        margin:0px;
    }
    
    #search-form-input{
        width: 85%;
        border-radius: 5px;  
    }
    
    .search-form > label{
        width: 10%;
    }

    .nav-bar{
        display: flex;
        flex-wrap: no-wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-bar > ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;

    }
    
    .nav-bar > ul > li {
        list-style-type: none;
        padding: 0.75rem 0.5rem;
    }

    .nav-bar > ul > li > a{
        text-decoration: none;
        color: black;
    }

    .nav-bar > ul > li > i{
        padding-left: 5px;
    }

    .burger-menu{
        display: none;
    }
/*HEADER - END*/

/*MAIN - START*/
    .description{
        display: block;
        font-size: 16px;  
    }
    .flex-container{
        flex-direction: row;
    }

    .product-article {
        width: 22%;
    }

    .register-form > p > input{
        width: 550px;    
    }

    .product-article {
        width: 30%;
    }

    #truck-icon{
        right: 1%;
    }

    .login__main{
        background-color: #FFFFFF;
        border-radius: 10px;
        height: 60vh;
        justify-content: center;
        margin: 40px auto;
        width: 656px;
    }

    .login-btn{
        height: 35px;
        width: 170px;
        font-size: 18px;
    }

    .login-form > input {
        width: 526px;
        height: 36px;
    }
    
/*MAIN - END*/

/*FOOTER - START*/
    .footer-section{
        display: flex;
        flex-wrap: nowrap;
    }
/*FOOTER - END*/
}


@media (min-width: 1160px){
    /*HEADER - START*/
    .header-compra-coutas{
        font-size: 18px;
    }
    
    .fa-hand-holding-dollar{
        font-size: 20px;
    }

    .search-form{
        width: 30%;
    }

    #search-form-input{
        height: 30px;
    }

    /*HEADER - END*/
    #truck-icon{
        font-size: 20px;
        right: 12px;
        top: 12px
     }

}